
// ## Colors

// ### Primary

// - Orange: hsl(25, 97%, 53%)

$primary: hsl(25, 97%, 53%);

// ### Neutral

$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grey: hsl(217, 12%, 63%);
$neutral-medium-grey: hsl(216, 12%, 54%);
$neutal-dark-blue: hsl(213, 19%, 18%);
$neutal-very-dark-blue: hsl(216, 12%, 8%);
$background-color : hsl(215deg 22% 15%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 15px

// ### Font

// - Family: [Overpass](https://fonts.google.com/specimen/Overpass)
// - Weights: 400, 700
