@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700;800&family=Fira+Code:wght@500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,600;1,900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');
@import "var";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: $almost-white;
    color: $almost-black;
    overflow: hidden;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


h1 {
    font-size: 8rem;
}

p {
    font-size: 1.8rem;
}


// ----------------------------------
//         Navbar Section
// ----------------------------------

.navbar {
    @include flex-item(row);
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 3rem 4rem;
    color: $medium-gray;
    transition: all 0.5s linear;
    

    .nav-left {
        @include flex-item(row);

        .nav-logo{
            margin-right: 2rem; 
        }


        .nav-dropdown {
            @include flex-item(row);
            align-items: center;


            &-item {
                @include flex-item(row);
                margin: 0 2rem;
                padding: 0.5rem;
                align-items: center;
                color: $medium-gray;
                cursor: pointer;
                position: relative;
                transition: all 0.3s linear;

                &:hover{
                    @include hovercolor;

                    .feature-dropdown {
                        display: block;
                    }

                    .arrow {
                        content: url("../images/icon-arrow-up.svg");
                    }
                }

                .feature-dropdown {
                    display: none;
                    position: absolute;
                    width: max-content;
                    height: max-content;
                    background: $almost-white;
                    border-radius : 0.5rem ;
                    top:3.5rem;
                    right: 0;
                    padding: 1rem 2rem;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .drp-item {
                        display: flex;
                        padding: 0.8rem;

                        img {
                            margin-right: 0.8rem;
                        }
                    }
                }

                p {
                    margin-right: 0.8rem;
                }

                .arrow {
                    width: 1.2rem;
                    height: 1rem;
                }
            }

            .nav-item {
                margin: 0 1rem;
                color: $medium-gray;
                cursor: pointer;
                transition: all 0.3s linear;

                &:hover {
                    @include hovercolor;
                }
            }
        }
    }


    .nav-btns {

        .nav-btn {
            color: $medium-gray;
            padding: 1.2rem 2.8rem;
            margin: 0 1rem;
            font-size: 1.8rem;
            font-weight: 500;
            background: $almost-white;
            border-radius: 1.5rem;
            border: none;
            font-family: 'Epilogue', sans-serif;
            cursor: pointer;
            transition: all 0.3s linear;
        }

        .reg-btn {
            border: 0.3rem solid $medium-gray;

            &:hover {
                border-color: $almost-black;
                @include hovercolor;
            }
        }
        
        .login-btn {
            &:hover {
                @include hovercolor;
            }
        }

    }


    .overlay {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        // opacity: 0.2;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity : 0;
        visibility: hidden;
        pointer-events: none;

        .nav-content {
            z-index: 1;
            height: 100%;
            width: 60%;
            background: white;
            opacity: 1;
            overflow: hidden;
        }
    }

    .active {
        transform: translateX(0%);
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .nav-content {
            overflow: hidden;
        }
    }


    .menu {
        display: none;
        cursor: pointer;
        z-index: 2;
    }

    .menu-close {
        .menu-icon{
            content: url("../images/icon-close-menu.svg");
        }
    }

}






// --------------------------
//         Hero Section 
// --------------------------

.hero-section {
    @include flex-item(row);
    height: fit-content;
    @include alignItems(center,center);
    padding: 2rem 2rem;

    &-left {
        @include flex-item(column);
        justify-content: bottom;
        padding-left: 15rem ;


        h1 {
            margin-top: 12rem;

            span{
                display: block;
            }
        }

        p{
            width: 60%;
            margin: 4rem 0;
            line-height: 1.5;
            color: $medium-gray;
        }

        .hero-btn {
            font-family: 'Epilogue', sans-serif;
            display: inline-block;
            font-size: 1.8rem;
            color: $almost-white;
            padding: 1.8rem 3.5rem;
            background: $almost-black;
            max-width: fit-content;
            max-height: fit-content;
            border-radius: 1.5rem;
            border: 0.3rem solid $almost-black;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover {
                color: $almost-black;
                background: $almost-white;      
            }
        }

        .hero-client-logo {
            margin-top: 10rem;

            img {
                margin-right: 5rem;
            }
        }

    }

    &-right {
        img {
            width: 65%;
        }
    }
}


@media (max-width : "900px") {


    html {
        font-size: 50%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }



    .navbar {
        padding: 3rem 4rem 0 4rem;

        .nav-left {
            .nav-dropdown{

                display: none;
            }
        }

        .nav-btns {
            display: none;
        }

        .menu {
            display: block;
        }

    }

    .hero-section {
        flex-direction: column-reverse;

        &-right{
            margin: 0;
            padding: 0;
            img{
                content: url("../images/image-hero-mobile.png");
                width: 100%;
            }
        }
        
        &-left {
            margin: 0;
            padding: 0;
            text-align: center;
            align-items: center;

            h1{
                margin-top: 6rem;
                font-size: 4rem;
                font-weight: 700;
                
                span {
                    display: inline;
                }
            }

            p{
                width: 94%;
                margin: 2rem 0;
            }
        }

        .hero-client-logo{
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;


            img {
                width: 20%;
                margin: 1rem;
            }
        }
    }



    // ----------------------------
    //     Mobile Nav Section
    // ----------------------------
    
    .mobile-nav-dropdown{
        display: flex;
        flex-direction: column;
        padding: 10rem 0 0 3rem;

       
            .mobile-nav-dropdown-item{
                font-size: 2.8rem;
                p{
                    display: inline-block;
                    font-size: 2.2rem;
                    margin: 1.2rem 0;
                    margin-right: 1rem;
                }

                img {
                    display: inline-block;
                    width: 7%;
                }

                .feature-dropdown{
                    display: none;
                    padding: 0 2rem;
                }
            }

            .activate-drp{
                .feature-dropdown{
                    display: block;
                }

                .arrow {
                    content: url("../images/icon-arrow-up.svg");
                }

            }

            .nav-item{
                p{
                    display: inline-block;
                    font-size: 2.2rem;
                    margin: 1.3rem 0;
                    margin-right: 1rem;
                }
            }
    }

    .mobile-nav-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 4rem;

        .mobile-nav-btn {
            font-family: Ep;
            color: $medium-gray;
            padding: 1.2rem 6rem;
            margin: 0.8rem 1rem;
            font-size: 2.2rem;
            font-weight: 500;
            background: $almost-white;
            border-radius: 1.5rem;
            border: none;
            font-family: 'Epilogue', sans-serif;
            cursor: pointer;
            transition: all 0.3s linear;
        }

        .mobile-login-btn{
            &:hover {
                @include hovercolor;
            }
        }

        .mobile-reg-btn{
            border: 0.3rem solid $medium-gray;

            &:hover {
                border-color: $almost-black;
                @include hovercolor;
            }
        }

    }

    
    
}